<div class="containerForm">  
  <form id="contact" action="" method="post">
    <h3>Dodaj artykuł</h3>
    <fieldset>
      <input placeholder="Nazwa artykułu" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <textarea placeholder="Treść artykuły" tabindex="2" required></textarea>
    </fieldset>
    <fieldset class="imgInput">
        <label for="articleImg">+</label>
     <input type="file"
       class="articleImg" id="articleImg" name="articleImg"
       accept="image/png, image/jpeg">
    </fieldset>
    <fieldset>
      <button name="submit" id="articleSubmit" data-submit="Przesyłanie...">Dodaj</button>
    </fieldset>
  </form>
</div>