
<header>
  <div class="menu">
    <div><a href="/add">Artykuły</a></div>
    <div><a href="/">Dodaj</a></div>
    <div><a href="/">Zdjęcie</a></div>
    <div><a href="/">Podgląd</a></div>
  </div>
</header>
