
body{
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/sayagata-400px.png);
  font-family: 'Signika', sans-serif;
  font-size:21px;
}
header {
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0px -8px 25px #251e3e;       position: fixed;
  top: 0;
  left: 0;
  width: 100%;    
  z-index: 991;
}
.menu {
  display: grid;
  grid-template-columns: repeat(4, 10%);
  margin: 0 auto;
  justify-content: space-evenly;
  text-align: center;
  grid-auto-rows: 1fr;
}

.menu,
 a, 
 a:active,
  a:visited {
  color: #251e3e; 
  text-decoration: none;
}

a:hover {
  color: #4aaaa5;
  transition: 0.25s;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.containerForm {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="file"] {
  opacity: 0;
   position: absolute;
}

.imgInput {
  margin: 25px 0px;
}

.imgInput label {
  border: 2px dotted #35404f;
  padding: 25px 25px;
  width: 128px;
  height: 128px;
 margin: 0 auto;
}

.imgInput label:hover {
  border: 2px dotted #a3d39c;
  color: #a3d39c;
  cursor: pointer;
  transition: 0.2s;
}

#contact input[type="text"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#articleSubmit{
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #35404f;
  color: #35404f;;
  margin: 10px 0;
  padding: 10px;
  font-size: 15px;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  transition: color 0.15s;
}


#articleSubmit:hover {
  color: #a3d39c;
}

#articleSubmit::before,
#articleSubmit::after {
  /* Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts */
  border: 2px solid transparent;
  width: 0;
  height: 0;
  box-sizing: inherit;
    content: '';
    position: absolute;
}

/* This covers the top & right borders (expands right, then down) */
#articleSubmit::before {
  top: 0;
  left: 0;
}

/* And this the bottom & left borders (expands left, then up) */
#articleSubmit::after {
  bottom: 0;
  right: 0;
}

/* Hover styles */
#articleSubmit:hover::before,
#articleSubmit:hover::after {
  width: 100%;
  height: 100%;
}

#articleSubmit:hover::before {
  border-top-color: #a3d39c; 
  border-right-color: #a3d39c;
  transition:
    width 0.15s ease-out, 
    height 0.15s ease-out 0.15s; 
    -webkit-transition:    width 0.15s ease-out, 
    height 0.15s ease-out 0.15s;  
}

#articleSubmit:hover::after {
  border-bottom-color: #a3d39c;
  border-left-color: #a3d39c;
  transition:
    border-color 0s ease-out 0.3s, 
    width 0.15s ease-out 0.3s, 
    height 0.15s ease-out 0.45s;
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
